<a href="https://colab.research.google.com/github/samarkinav/ML/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Результаты экзамена**

Мы хотим предсказать сдаст или не сдаст студент экзамен исходя из социальной, гендерной и учебной информации о нём.

##1. Загрузка данных

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import pandas as pd 
import seaborn as sns 
import sklearn

In [3]:
url = "https://raw.githubusercontent.com/samarkinav/ML/main/students_final.csv"
data_raw = pd.read_csv(url)

Таблица содержит данные о студентах, обучающихся на курсах математики и португальского языка в средней школе.
Вначале посмотрим на размеры таблицы - количество строк (каждая строка соответствует одному студенту) и количество столбцов (каждый столбец соответствует конкретному признаку):

In [4]:
data_raw.shape

(1044, 31)

In [5]:
type(data_raw)

pandas.core.frame.DataFrame

In [6]:
data_raw.head()

  school sex  age address famsize  ... Dalc  Walc  health absences    Mark
0     GP   F   18       U     GT3  ...    1     1       3        6    fail
1     GP   F   17       U     GT3  ...    1     1       3        4    fail
2     GP   F   15       U     LE3  ...    2     3       3       10  passed
3     GP   F   15       U     GT3  ...    1     1       5        2  passed
4     GP   F   16       U     GT3  ...    1     2       5        4  passed

[5 rows x 31 columns]

In [7]:
data_raw.tail()

     school sex  age address famsize  ... Dalc  Walc  health absences    Mark
1039     MS   F   19       R     GT3  ...    1     2       5        4  passed
1040     MS   F   18       U     LE3  ...    1     1       1        4  passed
1041     MS   F   18       U     GT3  ...    1     1       5        6    fail
1042     MS   M   17       U     LE3  ...    3     4       2        6  passed
1043     MS   M   18       R     LE3  ...    3     4       5        4  passed

[5 rows x 31 columns]

Мы видим, что столбцы (признаки) имеют названия:


*   school - школа студента (двоичный: 'GP' - Gabriel Pereira или 'MS' - Mousinho da Silveira) 
*   sex - пол студента (двоичный: 'F' - женский или 'M' - мужской)
*   age - возраст студента (числовой: от 15 до 22)
*   address - тип домашнего адреса студента (двоичный: 'U' - городской or 'R' - сельский)
*   famsize - размер семьи (двоичный: 'LE3' - меньше или равно 3 или 'GT3' - больше 3) 
*   Pstatus - статус сожительства родителей (двоичный: 'T' - живут вместе или 'A' - раздельно) 
*   Medu - образование матери (числовой: 0 - без, 1 - начальное образование (4 класса), 2 – с 5 по 9 класс, 3 – среднее образование или 4 – высшее образование) 
*   Fedu - образование отца (числовой: 0 - без, 1 - начальное образование (4 класса), 2 – с 5 по 9 
класс, 3 – среднее образование или 4 – высшее образование) 
*   Mjob - работа матери (номинальный: 'teacher', 'health' care related, civil 'services', 'at_home' или 'other') 
*   Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services', 'at_home' или 'other')
*   reason - причина выбора данной школы (номинальный: близко к 'home', школьная 'reputation', 'course' или 'other')
*   guardian - опекун студента (номинальный: 'mother', 'father' или 'other') • traveltime - время в пути от дома до школы (номинальный: 1 - 1 hour)
*   studytime - кол-во учебного времени в неделю (номинальный: 1 - 10 hours)
*   failures - кол-во пропущенных занятий 
*   schoolsup - дополнительная образовательная поддержка (двоичный: yes или no)
*   famsup - семейная образовательная поддержка (двоичный: yes или no)
*   paid - платные дополнительные занятия по курсу (математика или португальский) (двоичный: yes или no) 
*   activities - внеклассные мероприятия (двоичный: yes или no)
*   nursery - посещал ли студент детский сад (двоичный: yes или no)
*   higher - хочет ли студент получить высшее образование (двоичный: yes или no)
*   internet - доступ к Интернету дома (двоичный: yes или no)
*   romantic - состоит ли студент в романтических отношениях ((двоичный: yes или no)
*   famrel - качество семейных отношений (номинальный: от 1 - очень плохо до 5 - прекрасно) 
*   freetime - свободное рвемя после школы (номинальный: от 1 - очень мало до 5 - очень много)
*   goout - встречи с друзьями (номинальный: от 1 - очень мало до 5 - очень много)
*   Dalc - потребление алкоголя в течение будних дней (номинальный: от 1 - очень мало до 5 - очень много)
*   Walc - потребление алкоголя в течение выходных дней (номинальный: от 1 - очень мало до 5 - очень много) 
*   health - текущее состояние здоровья (номинальный: от 1 - очень плохо до 5 - очень хорошо)
*   absences - кол-во пропусков в школе (номинальное: от 0 до 93)

У каждого студента есть итоговая оценка ('fail' и 'passed')
Требуется предсказать результат студента Mark по остальным признакам. Это задача классификации.

In [8]:
data_raw.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'Mark'],
      dtype='object')

In [9]:
data_raw.index

RangeIndex(start=0, stop=1044, step=1)